:host{

    .subscriberTitleStyle {
        padding-left: 22.5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .subscriberLayout {
        background-color: #ffffff;
        margin-left:20px;
        margin-right:20px;
        margin-top:15px;
        margin-bottom:20px;
        padding: 16px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    }

    .subsctiberTitleStyle {
        background-color: #f5f6fa; 
        color: #a5a4bf;  
        object-fit: contain;
        font-size: 11px;
        font-weight: bold; 
        height: 45px;
    }    
    
    .subsctiberRecentActivitiesStyle {
        background-color: #f5f6fa; 
        color: #3b86ff;  
        object-fit: contain;
        font-size: 11px;
        height: 45px;
        display: flex!important;
        align-items: center!important;
        justify-content: flex-end!important;
    }

    .subscriberListStyle {
        font-size: 10px;
        padding-right: 5px;
        color: #4d4f5c;
        --ion-background-color: #ffffff;
        cursor: pointer;
        ion-list {
            ion-label {
                white-space: pre-wrap;
                padding: 1px 0px;
            }
        }
    }

    .subscriberOverviewParentCompanyStyle {
        opacity: 0.8;
        font-size: 10px;
        font-weight: bold;
        text-align: left;
        color: #4d4f5c;
        --ion-background-color: transparent !important;
        // height: 40px;
        // padding: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .subscriberOverviewPic {
        width: 31px;
        height: 31px;
        padding: 0px;
        text-align: center;
        // display: flex;
        // justify-content:center;
    }

    .subscriberOverviewStyle {
        opacity: 0.8;
        font-size: 10px;
        text-align: left;
        color: #4d4f5c;
        --ion-background-color: transparent !important;
        // height: 40px;
        // padding: 15px;
        // padding-right: 15px;
        // padding-left: 15px;   
    }

    .subsReactivationNotice {
        display: flex;
        border: solid 1px #a5a4bf;
        margin: 5px 35px;
        padding: 10px;

        ion-icon {
            width: 45px;
            height: auto;
            margin-right: 10px;
            color: orangered;
        }
    }
    .adminDetails {
        padding-left:20px;
        padding-top: 5px;
        ion-col {
            ion-avatar {
                width: 31px;
                height: 31px;
                padding: 0px;
                text-align: center;
            }

            ion-label {
                padding: 2px 0px;
            }
        }
    }

    .adminLabelStyle {
        margin: 18px;
        ion-label {
            height: 13px;
            padding-left: 18px;
            padding-right: 18px;
        }

    }

    .subscriberDescriptionCardLayout {
        // padding: 10px;
        width: 29%;
        object-fit: contain;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
    }

    .subscriberDescriptionCardTitle {
        font-size: 10px;
        color: var(--dusk);
    }

    .subscriberDescriptionCardValue {
        height: 30px;
        object-fit: contain;
        // font-family: SourceSansPro;
        font-size: 12px;
        font-weight: bold;
        color: #4d4f5c;
        display: flex !important;
        align-items: flex-end !important;
    }

    .subscriberDescriptionCardChangeDate {
        opacity: 0.8;
        // font-family: SourceSansPro;
        font-size: 10px;
        line-height: 1.6;
        color: #3b86ff;
        cursor: pointer;
    }

    .subscriberCardIconStyle {
        width: 30px;
        height: 30px;
    }

    .subscriberPlanCompanyName {
        opacity: 0.8;
        // font-family: SourceSansPro;
        font-size: 12px;
        font-weight: bold;  
        line-height: 1.67;
        color: #4d4f5c;
        text-transform: uppercase;
        height: 15px;
    }

    .subscriberPlanStatusRed {
        font-size: 10px;
        line-height: 2;
        text-align: center;
        color: #ffffff;
        // width: 43px;
        height: 21px;
        border-radius: 30px;
        background-color: #d41a13;
        padding-left: 10px;
        padding-right: 10px;         
    }
    .subscriberPlanStatusBlue {
        font-size: 10px;
        line-height: 2;
        text-align: center;
        color: #ffffff;
        // width: 43px;
        height: 21px;
        border-radius: 30px;
        background-color: #3b86ff;
        padding-left: 10px;
        padding-right: 10px;         
    }
    .subscriberPlanStatusGreen {
        font-size: 10px;
        line-height: 2;
        text-align: center;
        color: #ffffff;
        // width: 43px;
        height: 21px;
        border-radius: 30px;
        background-color: #5ee2a0;
        padding-left: 10px;
        padding-right: 10px;         
    }

    .subscriberPlanType {
        opacity: 0.8;
        // font-family: SourceSansPro;
        font-size: 12px;
        line-height: 1.67;
        color: #4d4f5c;
        margin-left: 5px;
    }

    .subscriberPlanCode {
        opacity: 0.8;
        // font-family: SourceSansPro;
        font-size: 12px;
        line-height: 1.67;
        color: #a5a4bf;
        margin-left: 5px;

    }

    .subscribePlanAddOnDetails {
        opacity: 0.8;
        // font-family: SourceSansPro;
        font-size: 11px;
        line-height: 1.82;
        color: #4d4f5c;
        margin: 10px;
    }

    .detailsCard {
        display: flex;
        width: -webkit-fill-available;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
        margin: 10px 18px;
        padding: 15px;

        ion-col {
            ion-item-group {
                font-weight: bold;
                color: var(--dusk);
                font-size: 10px;
                opacity: 0.8;

                ion-progress-bar {
                    border-radius: 10px;
                    margin-top: 3%;
                    height: 1em;
                }

                ion-button {
                    font-size: 9px;
                    text-transform: capitalize;
                    display: flex;
                    letter-spacing: normal;
                    height: 20px;
                    width: 50%;
                    margin: 15px 0px;
                }

                ion-label {
                    padding: 3px 0px;
                }

                ion-row {
                    display: flex;
                    align-items: center;
                }

                // ion-row {
                //     margin: 3px 0px;
                // }
            }
        }
    }

    .onoffswitch {
        position: relative; width: 100px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #FFFFFF; border-radius: 30px;
    }

    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
        font-size: 8px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "ACTIVE";
        padding-left: 18px;
        background-color: #5EE2A0; color: #FFFFFF;
    }
    
    .onoffswitch-inner:after {
        content: "INACTIVE";
        padding-right: 18px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }

    .onoffswitch-switch {
        display: block; width: 20px; margin: 5px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 70px;
        border: 2px solid #FFFFFF; border-radius: 30px;
        transition: all 0.3s ease-in 0s; 
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }

    .custompgtn {
        margin: 0px 0px 30px;
    }
    
}