<ion-content [class]="(pgSet.getSideMenuType() === 'fullMenu') ? 'hide-sm-down' : 'hide-sm-down'"> 
  <ion-item-group class="mainLayout">
    <img class="sideimg" src="../../../assets/icon//signin/sign-in-abstract.svg"/>
    <ion-item-group class="bodyStyle">

      <!-- Logo and welcome note -->
      <ion-avatar class="loginLogo">
          <img src="../../../assets/icon/logo.PNG"/>
      </ion-avatar>
      <ion-note class="noteStyle">Welcome back! Please login to your account</ion-note>      
  
      <form class="formStyle" #loginForm="ngForm">
        <!-- Username -->
        <ion-item>
            <ion-input type="text" name="username" required placeholder="Username" [(ngModel)]="userLogin.username" #username="ngModel"></ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
            Username is required
          </p>
        </ion-text>

        <!-- Password -->
        <ion-item>
            <ion-input type="{{type}}" required placeholder="Password" name="password" [(ngModel)]="userLogin.password"  #password="ngModel"></ion-input>
            <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
              <ion-icon name="eye"></ion-icon>
            </button>
            <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
              <ion-icon name="eye-off"></ion-icon>
            </button>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
            Password is required
          </p>
        </ion-text>

        <!-- Remember Me -->
        <ion-row>
          <ion-item-group>
            <ion-checkbox (ionChange)="rememberMe($event)"></ion-checkbox>
            <ion-label style="cursor: default;">Remember Me</ion-label>
          </ion-item-group>
          <ion-label [routerDirection]="'root'" [routerLink]="'/forgot-password'"
          style="cursor: pointer;">Forgot Password</ion-label>
        </ion-row>

        <!-- Submit button -->
        <ion-item lines="none">
          <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" (keyup.enter)="onLogin(loginForm)">
          <!-- <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" [routerDirection]="'root'" [routerLink]="homePage"> -->
            Login</ion-button>
        </ion-item>
      </form>
    </ion-item-group>
  </ion-item-group>
</ion-content>
<div [class]="(pgSet.getSideMenuType() === 'fullMenu') ? 'hide-sm-up' : 'hide-sm-up'"
 style="height: 100%; width: 100%;">
  <ion-item-group class="mainLayout">
      <img style=" position: absolute; min-width: -webkit-fill-available;
      min-height: -webkit-fill-available;
      object-fit: cover;" src="../../../assets/icon//signin/sign-in-abstract.svg"/>
      <ion-item-group style="position: relative; margin: auto; color: var(--ion-color-light)">
  
        <!-- Logo and welcome note -->
        <ion-avatar class="loginLogo">
            <img src="../../../assets/icon/logo.PNG"/>
        </ion-avatar>
        <ion-label class="noteStyle" style="color: var(--ion-color-light); margin: 25px 25px 60px;
        text-align: center;">Please login to your account.</ion-label>      
    
        <form class="formStyle" #loginForm="ngForm">
          <!-- Username -->
          <ion-item  color="transparent" style="color: var(--ion-color-light);">
              <ion-input type="text" name="username" required placeholder="Username" [(ngModel)]="userLogin.username" #username="ngModel"></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
              Username is required
            </p>
          </ion-text>
  
          <!-- Password -->
          <ion-item color="transparent" style="color: var(--ion-color-light);">
              <ion-input type="{{type}}" required placeholder="Password" name="password" [(ngModel)]="userLogin.password"  #password="ngModel"></ion-input>
              <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
                <ion-icon style="color: var(--ion-color-light);" name="eye"></ion-icon>
              </button>
              <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
                <ion-icon style="color: var(--ion-color-light);" name="eye-off"></ion-icon>
              </button>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
              Password is required
            </p>
          </ion-text>
  
          <!-- Remember Me -->
          <ion-row>
            <ion-item-group>
              <ion-checkbox (ionChange)="rememberMe($event)"></ion-checkbox>
              <ion-label style="cursor: default;">Remember Me</ion-label>
            </ion-item-group>
            <ion-label [routerDirection]="'root'" [routerLink]="'/forgot-password'"
            style="cursor: pointer;">Forgot Password</ion-label>
          </ion-row>
  
          <!-- Submit button -->
          <ion-item lines="none" color="transparent" >
            <ion-button fill="clear" type="submit" style="background-color: var(--ion-color-light);
            color: #43425d;"
            (click)="onLogin(loginForm)" (keyup.enter)="onLogin(loginForm)">
            <!-- <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" [routerDirection]="'root'" [routerLink]="homePage"> -->
              Login</ion-button>
          </ion-item>
        </form>
      </ion-item-group>
    </ion-item-group>
</div>
<!-- <ion-item-group [class]="(pgSet.getSideMenuType() === 'fullMenu') ? 'hide-sm-up' : 'hide-sm-up'">
  <ion-item-group style="display: flex;">
      <img style="width: -webkit-fill-available; position: absolute;" src="../../../assets/icon//signin/sign-in-abstract.svg"/>
      <ion-item-group style="position: relative; color: var(--ion-color-light); align-self: center;">
        <ion-avatar class="loginLogo">
          <img src="../../../assets/icon/logo.PNG"/>
        </ion-avatar>
        <ion-note class="noteStyle" style="color: var(--ion-color-light)">Login to your accout.</ion-note>     
        <form class="formStyle" #loginForm="ngForm">
           <ion-item>
              <ion-input type="text" name="username" required placeholder="Username" [(ngModel)]="userLogin.username" #username="ngModel"></ion-input>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
              Username is required
            </p>
          </ion-text>
  
          <ion-item>
              <ion-input type="{{type}}" required placeholder="Password" name="password" [(ngModel)]="userLogin.password"  #password="ngModel"></ion-input>
              <button *ngIf="!showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
                <ion-icon name="eye"></ion-icon>
              </button>
              <button *ngIf="showPass" ion-button clear type="button" item-right (click)="showPassword()"> 
                <ion-icon name="eye-off"></ion-icon>
              </button>
          </ion-item>
          <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
              Password is required
            </p>
          </ion-text>
  
          <ion-row>
            <ion-item-group>
              <ion-checkbox (ionChange)="rememberMe($event)"></ion-checkbox>
              <ion-label style="cursor: default;">Remember Me</ion-label>
            </ion-item-group>
            <ion-label [routerDirection]="'root'" [routerLink]="'/forgot-password'"
            style="cursor: pointer;">Forgot Password</ion-label>
          </ion-row>
  
          <ion-item lines="none">
            <ion-button fill="clear" type="submit" (click)="onLogin(loginForm)" (keyup.enter)="onLogin(loginForm)">
              Login</ion-button>
          </ion-item>
        </form> 
      </ion-item-group>

  </ion-item-group>
</ion-item-group> -->