<ion-app style="padding-top: 73px; --ion-background-color: #f0f0f7;">
  <ion-content>

    <!----------- Subscriptions Title/Searchbar/Drop Down/Add New Items ----------->
    <ion-row>
      <ion-col>
        <ion-title class="subscriptionTitleStyle">
          Subscriptions
        </ion-title>
      </ion-col>
      <ion-col>
        <ion-row style="justify-content: flex-end; padding-right: 9px;">
          <ion-searchbar class="subscriptionSearchBar" placeholder="Search Name/Company..."></ion-searchbar>
          <ion-button class="subscriptionDropDownMenuButton"> 
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-------------------------------- Table ----------------------------------->
    <ion-row class="subscriptionLayout">
      <ion-col class="subscriptionBackgroundColor">
          <ion-grid>
            <!-- header -->
            <ion-row class="subscriptionTableHeaderTheme">
              <ion-col>
                <div>
                  CREATED ON
                </div>
              </ion-col>
              <ion-col>
                <div>
                  ACTIVATED ON
                </div>
              </ion-col>
              <ion-col style="text-align: left;">
                <div>
                  SUBSCRIPTION
                </div>
              </ion-col>
              <ion-col size="3" style="text-align: left;">
                <div>
                  CLIENT NAME
                </div>
              </ion-col>
              <ion-col size="1">
                <div>
                  PLAN
                </div>
              </ion-col>
              <ion-col size="1">
                <div>
                  STATUS
                </div>
              </ion-col>
              <ion-col>
                <div>
                  LAST BILLING ON
                </div>
              </ion-col>
              <ion-col>
                <div>
                  NEXT BILLING ON
                </div>
              </ion-col>
            </ion-row>
            
            <!-- body -->
            <ion-row class="subscriptionTableBodyTheme subscriptionTableLine" ion-item 
              *ngFor="let table of subscribers"
              [routerDirection]="'root'" [routerLink]="'/main/subscriptions/subscriber-details'"
              [class.highlight]="table.clientName === currentClient"
              (click)="viewSubscriptionDetails(table)"> 
               <!-- ondblclick="location.href='/main/subscriptions/subscriber-details'"> 
              class.highlight="table.clientName"  -->
              <ion-col>
                <div>
                  {{table.creationDate}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.activationDate}}
                </div>
              </ion-col>
              <ion-col style="text-align: left;">
                <div>
                  {{table.subscription}}
                </div>
              </ion-col>
              <ion-col size="3" style="text-align: left;">
                <div style="color: #3b86ff;">
                  {{table.clientName}}
                </div>
                <div>
                  {{table.clientEmail}}
                </div>
              </ion-col>
              <ion-col size="1">
                <div>
                  {{table.plan}}
                </div>
              </ion-col>
              <ion-col size="1.3">
                <span [ngSwitch]="table.status">
                  <p *ngSwitchCase="'LIVE'" class="subscriptionStatusGreen">
                      {{table.status}}
                  </p>
                  <p *ngSwitchCase="'TRIAL'" class="subscriptionStatusBlue">
                      {{table.status}}                  
                  </p>
                  <p *ngSwitchCase="'PAST DUE'" class="subscriptionStatusRed">
                      {{table.status}}                  
                  </p>
                  <p *ngSwitchCase="'CANCEL SUBSCRIPTION'" class="subscriptionStatusRed">
                      {{table.status}}                  
                  </p>
                  <p *ngSwitchDefault class="subscriptionStatusDefault">
                  </p>
                </span>
              </ion-col>
              <ion-col>
                <div>
                  {{table.lastBillingOn}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.nextBillingOn}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row style="justify-content:flex-end; padding-right: 20px; padding-bottom: 20px; font-size: 9px;"> 
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton"><</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton" >1</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton">2</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton">3</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton">4</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton">5</ion-button>
      <ion-button class="subscriptionTablePagingIcon" fill="clear" class="subscriptionPagingationButton">></ion-button>
    </ion-row>
  </ion-content>
</ion-app>