:host{
    .subscriptionTitleStyle {
        padding-left: 22.5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .subscriptionSearchBar {
        width: 302px;
        height: 45px;
        padding-top: 17px;
        --ion-background-color: #ffffff;
        ::placeholder {
            font-size: 6px; //sets placeholder font size
        }
    }

    .subscriptionDropDownMenuButton {
        width: 51.5px;
        height: 45px;
        border-radius: 4px;
        padding-right: 2px;
        padding-top: 2px;
    }
    
    .subscriptionLayout {
        padding-left:20px;
        padding-right:20px;
        padding-top:15px;
        padding-bottom:20px;
        min-height: -webkit-fill-available;
    }

    .subscriptionBackgroundColor {
        background-color: #ffffff;
    }

    .subscriptionTableHeaderTheme {
        font-size: 11px;
        font-weight: bold;
        text-align: center;
        align-content: center;
        color: #a5a4bf;
        background-color: #f5f6fa;
        height: 40px;
    }

    .subscriptionTableBodyTheme {
        font-size: 11px;
        text-align: center;
        align-content: center;
        color: #4d4f5c;
        height: 60px;
        cursor: pointer;
    }

    .subscriptionTableLine {  
        border-bottom: 1px solid #f5f6fa;   
    }

    .subscriptionStatusGreen {
        color: #5ee2a0
    } 

    .subscriptionStatusBlue {
        color: #3b86ff
    } 

    .subscriptionStatusRed {
        color: #ff3b3b
    } 

    .subscriptionStatusDefault {
        color: #4d4f5c
    } 

    .subscriptionTablePagingIcon {
        color: #ffffff;
        width: 35px;
        height: 35px;
    }
    
    .subscriptionPagingationButton {
        color: #3b86ff; 
        background-color: #ffffff; 
        border: solid 1px #e8e9ec; 
        font-size: 9px; 
        width: 31.3px; 
        height: 31.3px;
    }

    .highlight {
        background-color: #FFFF33 !important;
    }
}