:host{

    .fitContent * {
        min-width: fit-content;
    }
    .subscriptionTitleStyle {
        padding-left: 22.5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .subscriptionButtonsSetting {
        display: flex;
        margin: 5px 20px;
        ion-button {  
            width: 40px;
            height: 30px;          
            margin: 11px 3px 2px;
            font-size: var(--eleave-body-size9);
        }
    }

    .subscriptionLayout {
        padding-left:20px;
        padding-right:20px;
        padding-top:15px;
        padding-bottom:20px;
        min-height: -webkit-fill-available;
        *min-width: fit-content;
    }

    .subscriptionBackgroundColor {
        background-color: #ffffff;
    }

    .subscriptionTableHeaderTheme {
        ion-col {
            font-size: var(--eleave-title-table);
            font-weight: bold;
            // text-align: center;
            // align-content: center;
            color: #a5a4bf;
            background-color: #f5f6fa;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 15px 0px;
        }
    }

    .subscriptionTableBodyTheme {
        font-size: 11px;
        text-align: center;
        align-content: center;
        color: #4d4f5c;
        height: 60px;
        cursor: pointer;
    }

    .subscriptionTableLine {  
        border-bottom: 1px solid #f5f6fa;   
    }

    .subscriptionStatusGreen {
        color: #5ee2a0
    } 

    .subscriptionStatusBlue {
        color: #3b86ff
    } 

    .subscriptionStatusRed {
        color: #ff3b3b
    } 

    .subscriptionStatusDefault {
        color: #4d4f5c
    } 

    .subscriptionTablePagingIcon {
        color: #ffffff;
        width: 35px;
        height: 35px;
    }
    
    .subscriptionPagingationButton {
        color: #3b86ff; 
        background-color: #ffffff; 
        border: solid 1px #e8e9ec; 
        font-size: 9px; 
        width: 31.3px; 
        height: 31.3px;
    }

    .highlight {
        background-color: #FFFF33 !important;
    }

    
    .subscriptionCardStyles {
        display: flex;
        flex-wrap: wrap;
        width: -webkit-fill-available; 

        ion-card {
            display: flex;
            flex: auto;
        }

        ion-card-subtitle {
            display: flex;
            place-content: space-between; 
            padding: 5px 0 10px;
            border-bottom: 1px solid var(--eleave-border-color);
        }
    }
    
    .cardStyles * {
        font-size: var(--eleave-body-size);
        min-width: fit-content;
    }

    .cardStyle {
        background-color: #ffffff;
        display: inline-block;
        flex: 1;
        min-width: fit-content;
        padding-bottom: 15px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);

        ion-button {
            font-size: var(--eleave-body-size9);
        }
    }

    .columnStatusActive {
        color: var(--eleave-color-success); 
        // margin: unset;
    }

    .columnStatusInactive {
        color: var(--eleave-color-disable);
        // margin: unset;
    }

    .cardStatus {
        border-radius: 25px;
        color: white;
        object-fit: contain;
        height: fit-content;
        padding: 5px;
        margin: 5px;
        
    }

}