:host{
    .settingsTitleStyle {
        padding-left: 22.5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .settingMenuList {
        display: inherit;

        ion-list {
            --ion-background-color: #8b89b4;

            ion-menu-toggle {
                ion-item {
                    ion-icon {
                        width: 16px; 
                        height: 16px;
                    }

                    ion-label {   
                        font-family: var(--ion-);
                        font-size: 15px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.27;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }
                }
            }
        }
    }

}