<!-- <ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-app style="padding-top: 73px; --ion-background-color: #f0f0f7;">
    <ion-content>
      <ion-row>
        <ion-col>
          <ion-title class="settingsTitleStyle">
            Settings
          </ion-title>

          <div class="onoffswitch">
              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
              <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
              </label>
          </div>
        </ion-col>

      </ion-row>
    </ion-content>
  </ion-app>