:host {
    .popoverStyle {
        ion-title {
            font-size: 10px;
            font-weight: bold;
            color: #a5a4bf;
            padding: 12px;
            cursor: default;
        }

        ion-row {
            font-size: 9px;
            color: #4d565c;
            padding: 5px 12px;
            cursor: pointer;
        }
    }
}