<ion-list class="popoverStyle">
  <!-- Sort by part -->
  <ion-title class="popoverTitle">
    SORT BY
  </ion-title>
  <ion-row>
    <ion-label (click)="doc()">
      Name
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label (click)="close()">
      Company Name
    </ion-label>
  </ion-row>
  <ion-row>
    <ion-label (click)="close()">
      Status
    </ion-label>
  </ion-row>

  <!-- View by part -->  
  <ion-title>
    VIEW BY
  </ion-title>
  <ion-row>
    <ion-text (click)="viewOption($event, 'card')">
      Card
    </ion-text>
  </ion-row>
  <ion-row>
    <ion-text (click)="viewOption($event, 'table')">
      Table
    </ion-text>
  </ion-row>
</ion-list>
