:host {
    .popoverTitle {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #a5a4bf;
    }

    .popoverBodyStyle {
        font-size: 9px;
        text-align: left;
        line-height: 2.67;
        padding-left: 12px;
        color: #4d565c;
    }
    .contact-popover .popover-content{ width: 25px; }
}