<ion-content style="padding:10px; margin: 10px;">
  <ion-header>
    <ion-item-group  class="headerStyle">
      <ion-icon src="../../../../../assets/icon/customer/icon_customer.svg"></ion-icon>
      <ion-label>
        ADD NEW USER
      </ion-label>
    </ion-item-group>
  </ion-header>

  <!-- Body -->
  <ion-title class="titleStyle">
      USER DETAILS
  </ion-title> 

  <ion-item-group class="contentStyle">
    <ion-list [hidden]="!errPass" lines="none">
      <ion-note color="danger" *ngFor="let errRet of errMsg">{{errRet.val}}</ion-note>
      <!-- <ion-note color="danger" *ngFor="let errRet of errMsg1">{{errRet.val}}</ion-note> -->
    </ion-list>
    <ion-item>
      <ion-label position="stacked">Email*</ion-label>
      <ion-input type="email" inputmode="email" placeholder="Email" required="true"
      [(ngModel)]="newUser.email"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name*</ion-label>
      <ion-input type="text" placeholder="Name" required="true"
      [(ngModel)]="newUser.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password*</ion-label>
      <ion-input type="password" placeholder="Password" required="true"
      [(ngModel)]="newUser.password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Retype Password*</ion-label>
      <ion-input type="password" placeholder="Retype Password" required="true"
      [(ngModel)]="newUser.password2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Role</ion-label>
      <ion-select placeholder="Choose role" [(ngModel)]="newUser.role">
        <ion-select-option value="Super Admin" >Super Admin</ion-select-option>
        <ion-select-option value="Salesperson">Salesperson</ion-select-option>
        <ion-select-option value="Support">Support</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item-group>

  <!-- Save / Cancel button -->
  <ion-buttons class="buttonzStyle">
    <ion-button class="saveButton" (click)="saveNewUser()">Save</ion-button>
    <ion-button class="cancelButton" (click)="cancelAddNew()">Cancel</ion-button>
  </ion-buttons>

</ion-content>