// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.
:host{

    .active-link {
      --ion-background-color: rgba(0, 0, 0, 0.1);;
    }
    
    .sidebarBackground {
        --ion-background-color: #43425d;
        max-width: 150px;
    }

    .sidebarBackgroundIconView {
        --ion-background-color: #43425d;
        max-width: 56px;
    }
    .sidebarLogo {
        display: flex;
        margin: 0% 20% 0% auto;
        width: 70px;
        height: 70px;
    }

    .sidebarIcon {
        width: 16px; 
        height: 16px;
        display: flex;
    }

    .sidebarList {
        font-family: var(--ion-);
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.27;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
    }

    .toolbarIcon {
        width: 16px; 
        height: 16px;
        padding: 2px;
    }

    .verticalLine {
        border-left: 1px solid #bcbccb;
        height: 20px;
        float: right;
        margin: 7px;
    }   
      
    .labelName {
      font-size: 15px;
      line-height: 1.54;
      color: #4d4f5c;
      text-align: left;
      width: 70px;
      text-transform: capitalize;
    }

    .userProfile {
      max-width: max-content;
      max-height: max-content;
      width: 35px;
      height: 35px;
      margin: 5px 15px 5px 0px;
    }

    ion-select {
      &.custom-select {
        font-size: 15px;
        text-align: start;
        vertical-align: bottom;
        padding-bottom: initial;
        color: #4d4f5c;
        text-transform: capitalize;
        ::placeholder {
          font-size: 15px;
          text-align: start;
          vertical-align: bottom;
          color: #4d4f5c;
        }
      }
    }
}