<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" class="sidebarBackground">
      <ion-header>
        <ion-toolbar>
          <!-- <ion-title>logo</ion-title> -->
          <ion-avatar class="sidebarLogo">
            <img src="../assets/icon/logo.PNG">
          </ion-avatar>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"
             lines="none" (click)="onClickSideMenu($event)" 
             [ngStyle]="{'--ion-background-color': 'blue' }" class='highlight-focus'>
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <!-- 
             [ngStyle]="{'--ion-background-color': (p.url === selectedSidebar) ? '#32314e' : '#43425d' }" -->
              <ion-icon slot="start" class="sidebarIcon" [src]="'../assets/icon/sidebar/' + [p.icon]"></ion-icon>
              <ion-label class="sidebarList">{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- <ion-router-outlet main></ion-router-outlet> -->
      <ion-router-outlet main>
        <ion-header>
          <!-- <ion-toolbar style="height: 70px;">  -->
            <!-- <ion-searchbar class="searchbar"></ion-searchbar> -->
            <ion-toolbar style="height: fit-content; display: flex;">
              <!-- <ion-searchbar slot="start" class="searchbar"></ion-searchbar> -->
              <ion-buttons slot="secondary">
                <!-- <ion-button style="width:fit-content; height:fit-content">
                  <ion-icon slot="icon-only" class="toolbarIcon" src="../assets/icon/layout/icon-chat.svg"></ion-icon>
                </ion-button> -->
                <ion-button style="width:fit-content; height:fit-content">
                  <ion-icon slot="icon-only" class="toolbarIcon" src="../assets/icon/layout/icon-notification.svg"></ion-icon>
                </ion-button>
                <div class="verticalLine"></div>
                <ion-button style="font-size: 9px;
                  color: #4d4f5c;
                  text-transform: capitalize;" (click)="openToolbarPopover($event, 'UserDropDownComponent')">
                  <ion-label>
                    John Doe
                  </ion-label>
                  <ion-icon src="../assets/icon/layout/icon-arrow-down.svg" style="padding: 5px;"></ion-icon>
                </ion-button>
                <ion-avatar class="userProfile">
                <!-- <ion-avatar style=" width: 32px; height: 32px; float: right;"> -->
                  <img src="../assets/icon/layout/picture.png">
                </ion-avatar>
              </ion-buttons>
              <!-- <ion-buttons slot="primary">
                <ion-button color="danger">
                  <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
              </ion-buttons> -->
            </ion-toolbar>
          <!-- </ion-toolbar> -->
        </ion-header>
      </ion-router-outlet>
  </ion-split-pane>
</ion-app>
