<ion-content style="padding:10px; margin: 10px;">
  <ion-header>
    <ion-item-group  class="headerStyle">
      <ion-icon src="../../../../../assets/icon/customer/icon_history.svg"></ion-icon>
      <ion-label>
        HISTORY
      </ion-label>
    </ion-item-group>
  </ion-header>

  <!-- History Body -->
  <ion-list class="bodyStyle" *ngIf="subscriberHistoryDataLength > 0">
    <ion-item-group *ngFor="let subscriberHistory of subscriberHistoryData">
      <!-- <ion-item-group *ngFor="let customerHistory of customerData"> -->
      <ion-item lines="none">
        <ion-item-group class="iconStyle">
          <ion-icon src="../../../../../assets/icon/customer/icon-small-down.svg"></ion-icon>
        </ion-item-group>
        <ion-item-group>
          <ion-label>
            <!-- {{subscriberHistory.date}} - {{subscriberHistory.time}} -->
             {{subscriberHistory.HIST_TIME}}
          </ion-label>
          <ion-label style="padding-left: 2px;">
            {{subscriberHistory.MESSAGE}}
            <!-- {{subscriberHistory.description}} -->
          </ion-label>
          <ion-label style="font-weight: normal;">
            by {{subscriberHistory.CREATOR_DATA.FULLNAME}}
            <!-- by {{subscriberHistory.pic}} -->
          </ion-label>
        </ion-item-group>
      </ion-item>
    </ion-item-group>
  </ion-list>
  <ion-list class="bodyStyle" *ngIf="subscriberHistoryDataLength < 1"
   style=" font-size: 11px; white-space: pre-wrap; color: var(--eleave-body-empty-color); display: flex; justify-content: center;">
    No recent activities
  </ion-list>

</ion-content>