<ion-content style="padding:10px; margin: 10px;">
  <ion-header>
    <ion-item-group  class="headerStyle">
      <ion-icon src="../../../../../assets/icon/customer/icon_history.svg"></ion-icon>
      <ion-label>
        HISTORY
      </ion-label>
    </ion-item-group>
  </ion-header>

  <!-- History Body -->
  <ion-list class="bodyStyle">
    <ion-item-group *ngFor="let subscriberHistory of subscriberData">
      <!-- <ion-item-group *ngFor="let customerHistory of customerData"> -->
      <ion-item lines="none">
        <ion-col>
          <ion-icon src="../../../../../assets/icon/customer/icon-small-down.svg"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-label>
            {{subscriberHistory.date}} - {{subscriberHistory.time}}
          </ion-label>
          <ion-label>
            {{subscriberHistory.description}}
          </ion-label>
          <ion-label style="font-weight: normal;">
            by {{subscriberHistory.pic}}
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>