<ion-app style="padding-top: 55px; --ion-background-color: #f0f0f7;">
    <ion-content>

       <!-- --------- Customers Title/Searchbar/Drop Down/Add New Items --------- -->
      <ion-row style="justify-content: space-between;">
          <!-- <ion-title class="customerTitleStyle">
              Customers
          </ion-title> -->
          <ion-item lines="none" class="customerTitleStyle">
              Customers
          </ion-item>
          <ion-item-group class="customerButtonsSetting">
            
              <ion-searchbar mode="md" class="customer-searchbar-style" placeholder="Search Name" (ionChange)="onSearchCust($event)"></ion-searchbar>
              <ion-button mode="md" (click)="ngOnClickPophoverButton($event)" style="width: 40px;">
                <ion-icon  mode="md" slot="icon-only" name="menu"></ion-icon>
              </ion-button> 
              <ion-button  mode="md" [routerDirection]="'root'" [routerLink]="'/main/customers/addnewcustomer'">Add User</ion-button>
          </ion-item-group>
      </ion-row>
      
      <!----------- Customers Details --------- -->
      <ion-row style="justify-content: center; padding-left: 10px; padding-right: 10px; height: -webkit-fill-available; display: flex;">    
          <ng-container *ngIf="selectedVal === 'card';" >   

            <!------- Customer Card View ----- -->
            <ion-card mode="md" class="customerCardStyle" *ngFor="let cardData of customerData | paginate: configPageCust">
              <ion-item-group class="cardBodyStyle" style="border-bottom: 1px solid var(--eleave-border-color);"> 
                <ion-avatar class="customerProfilePicture">
                  <img src="../assets/icon/layout/picture.png">
                </ion-avatar>
                <ion-list style="min-width: fit-content; padding: 8px 8px 8px 0px;">
                  <ion-card-title class="customerCardTitleStyle">
                    {{cardData.clientName}}
                  </ion-card-title>
                  <ion-card-content class="customerCardBodyStyle">
                      <ion-text>
                          {{cardData.companyName}}
                      </ion-text>
                      <ion-text>
                          {{cardData.clientEmail}}
                      </ion-text>
                  </ion-card-content>
                </ion-list>
                <ion-label style="min-width: fit-content; height: fit-content; padding-bottom: 10px;" class="customerCardViewDetails" lines="none" [routerDirection]="'root'" [routerLink]="'/main/customers/customer-details'"
                  (click)="onClickCustomerViewDetails(cardData)">
                  View Details
                </ion-label>
              </ion-item-group>
              <ion-item-group class="cardFooterStyle">
                <ion-item-group>
                  <ion-item lines="none">
                    <ion-icon class="customerCardIcon" src="../../../assets/icon/customer/icon-office-building.svg"></ion-icon>
                    <ion-text class="customerCardIconText">
                      {{cardData.tenantNumber}}
                    </ion-text>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-icon class="customerCardIcon" src="../../../assets/icon/customer/icon-office-team.svg"></ion-icon>
                    <ion-text class="customerCardIconText">
                      {{cardData.employeeNumber}}
                    </ion-text>
                  </ion-item>
                </ion-item-group>
                <ion-button fill="clear" [ngStyle]="{'background-color': cardData.subsStatus === 'active' ? 
                  '#5ee2a0' : '#a5a4bf'}">
                  {{cardData.subsStatus}}
                </ion-button>
              </ion-item-group>
            </ion-card>  
            <div style="width: -webkit-fill-available;"></div>
            <!-- Customer list's pagination -->
            <ion-row style="margin: 0px 20px 0px auto; display: table;">        
              <pagination-controls (pageChange)="pageCustChanged($event)" maxSize="5" previousLabel="" nextLabel="" class="pagination-style"></pagination-controls>
            </ion-row>

            <!-- hide when max width 576
            <ion-row  [class]="'hide-sm-up'" style="margin: 0px 20px 0px auto; display: table;">        
              <pagination-controls (pageChange)="pageCustChanged($event)" maxSize="5" previousLabel="" nextLabel="" class="pagination-style"></pagination-controls>
            </ion-row>

            - hide when min width 576px -
            <ion-row [class]="'hide-sm-down'" style="margin: 0px 20px 0px auto; display: table;">
              <pagination-controls (pageChange)="pageCustChanged($event)" maxSize="5" previousLabel="" nextLabel="" class="pagination-style"></pagination-controls>
            </ion-row> -->
          </ng-container>

          <ng-container *ngIf="selectedVal === 'table';">
            <ion-row style="display: flow-root; width: -webkit-fill-available; 
            min-width: fit-content;">
              <!------- Customer Table View ----- -->
              <ion-row style="height: -webkit-fill-available; 
              min-width: fit-content;">
                <ion-grid class="customerTable" style="min-width: fit-content;">
                  <ion-row class="headerStyle" style="min-width: fit-content;">
                    <ion-col size="3">CLIENT NAME</ion-col>
                    <ion-col>COMPANY NAME</ion-col>
                    <ion-col>EMAIL</ion-col>
                    <ion-col size="1.5">PLAN NAME</ion-col>
                    <ion-col size="1.5">STATUS</ion-col>
                  </ion-row>
                  <ion-row *ngFor="let tableData of customerData | paginate: configPageCust" class="bodyStyle"
                  [routerDirection]="'root'" [routerLink]="'/main/customers/customer-details'"
                  (click)="onClickCustomerViewDetails(tableData)"
                  style="height: 10%; min-width: fit-content;">
                    <ion-col size="3" style="min-width: fit-content;">{{tableData.clientName}}</ion-col>
                    <ion-col style="min-width: fit-content;">{{tableData.companyName}}</ion-col>
                    <ion-col style="min-width: fit-content;">{{tableData.clientEmail}}</ion-col>
                    <ion-col style="min-width: fit-content;" size="1.5">{{tableData.plan}}</ion-col>
                    <ion-col style="min-width: fit-content;" size="1.5"> 
                      <!-- {{tableData.status}} -->
                        <span [ngSwitch]="tableData.status">
                          <p *ngSwitchCase="'LIVE'" style="color: #5ee2a0;">
                              {{tableData.status}}
                          </p>
                          <p *ngSwitchCase="'TRIAL'" style="color: #3b86ff;">
                              {{tableData.status}}                  
                          </p>
                          <p *ngSwitchCase="'PAST DUE'" style="color: #ff3b3b;">
                              {{tableData.status}}                  
                          </p>
                          <p *ngSwitchCase="'CANCEL SUBSCRIPTION'" style="color: #ff3b3b;">
                              {{tableData.status}}                  
                          </p>
                        </span>
                    </ion-col>                    
                  </ion-row>
                </ion-grid>      
              </ion-row>
              
              <div style="width: -webkit-fill-available;"></div>
              <!-- Customer list's pagination -->
              <ion-item-group style="margin: 0px 20px 0px auto; display: table;">        
                <pagination-controls (pageChange)="pageCustChanged($event)" maxSize="5" previousLabel="" nextLabel="" class="pagination-style"></pagination-controls>
              </ion-item-group>

            </ion-row>
          </ng-container>
        
        
      </ion-row>
    </ion-content>
  </ion-app>