:host{

    .pagingStyle > li{
        width: 35px;
        height: 35px;
    }
    .customerTitleStyle {
        // padding-left: 22.5px;
        padding-left: 5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .customerSearchBar {
        width: 302px;
        height: 45px;
        padding-top: 17px;
        --ion-background-color: #ffffff;
        ::placeholder {
            font-size: 6px; //sets placeholder font size
        }
    }

    .customerDropDownMenuButton {
        width: 51.5px;
        height: 45px;
        border-radius: 4px;
        padding-right: 2px;
        padding-top: 2px;
    }

    .customerAddNewButton {
        height: 45px;
        border-radius: 4px;
        padding-left: 2px;
        padding-right: 5px;
        padding-top: 2px;
        text-transform: capitalize;
        font-size: 13px;
    }

    .customerButtonsSetting {
        display: flex;
        margin: 5px 20px;
        ion-button {            
            text-transform: capitalize;
            width: 100px;
            height: 30px;
            font-size: var(--eleave-body-size9);
            margin: 11px 3px 2px;
        }
    }

    .customerCardStyle {
        flex-grow: 1;
        min-width: fit-content;
        background-color: #ffffff;
        width: 31%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 23px;
        padding-right: 11px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
        flex: auto;

        ion-list {
            background-color: #ffffff;
        }
    }

    .cardBodyStyle {
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        padding-bottom: 5px;
    }

    .cardFooterStyle {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ion-item-group {
            display: flex;            
        }

        ion-item {
            width: fit-content;
            --ion-background-color: transparent;
        }

        ion-button {
            border-radius: 25px;
            font-size: var(--eleave-body-size9);
            font-weight: bold;
            color: white;
            object-fit: contain;
            height: fit-content;
            padding: 5px;
            margin: 5px;
        }
    }

    .customerCardTitleStyle {
        font-size: 11px;
        font-weight: bold;
        text-align: left;
        color: #4d4f5c;
        padding-left: 5px;
    }

    .customerProfilePicture { 
        width: 48.7px;
        height: 48.7px;
        padding: 0px;
        align-content: flex-start;
    }

    .customerCardBodyStyle {
        color: #43425d;
        font-size: 11px;
        float: left;
        padding: 0px;
        padding-top: 5px;
        padding-left: 5px;
        display: grid;
    }

    .customerCardViewDetails {        
        font-size: 10px;
        float:right;
        color: #3b86ff;
        --ion-background-color: white;
        cursor: pointer;
    }

    .customerCardIcon {
        width: 25px;
        height: 20px;
        padding-top: 15px;
    }

    .customerCardIconText {
        font-size: 17px;
        font-weight: bold; 
        align-content: center; 
        text-align: center;  
        padding-left: 7px;
        padding-top: 13px;
    }

    .customerTable {
        background-color: #ffff;
        margin: 10px;
        padding: 10px;
        
        .headerStyle {
            ion-col {
                color: #a3a6b4;
                background-color: #f5f6fa;
                font-size: 11px;
                font-weight: bold;
                height: 45px;
                display: flex;
                align-items: center;
                padding-left: 15px;
            }
        }

        .bodyStyle {
            ion-col {
                color: #4d4f5c;
                font-size: 11px;
                border-bottom: solid 0.1px #f1f1f3;
                display: flex;
                align-items: center;
                padding-left: 15px;
                height: 50px;
            }
        }
    }

    
    .emptyCustomer {
        display: grid;
        justify-items: center;
        margin: 30px;
        color: var(--eleave-body-empty-color);
    }
}