<ion-content mode="md" class="popoupBodyStyle" style="padding:10px; margin: 10px;">
  <ion-header mode="md">
    <ion-item-group class="headerStyle">
      <ion-icon src="../../../../../assets/icon/customer/icon_customer.svg">
        CUSTOMER DETAILS
      </ion-icon>
      <ion-label>
        CUSTOMER DETAILS
      </ion-label>
    </ion-item-group>
  </ion-header>

  <!-- Contact Details -->
  <ion-title mode="md" class="titleStyle">
    CONTACT DETAILS
  </ion-title>
  <ion-item-group class="contentStyle">
    <ion-item>
      <ion-label position="stacked">Primary Contact</ion-label>
      <ion-input requred type="text" placeholder="Insert Full Name" [(ngModel)]="updateCustomerInfo.FULLNAME"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Display Name</ion-label>
      <ion-input requred type="text" placeholder="Insert Name" [(ngModel)]="updateCustomerInfo.NICKNAME"></ion-input>    
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Company Name</ion-label>
      <ion-input requred type="text" placeholder="Insert Company Name" [(ngModel)]="updateCustomerInfo.COMPANY_NAME"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Customer Email*</ion-label>
      <ion-input requred type="email" inputmode="email" placeholder="Email" [(ngModel)]="updateCustomerInfo.EMAIL"
                  required="true" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone No.*</ion-label>
      <ion-input requred type="tel" inputmode="tel" placeholder="Phone no." [(ngModel)]="updateCustomerInfo.CONTACT_NO"
                  required="true" ></ion-input>
    </ion-item>
  </ion-item-group>
  
  <!-- Billing Address -->
  <ion-title class="titleStyle">
    BILLING ADDRESS
  </ion-title>
  <ion-item-group class="contentStyle">
    <ion-item>
      <ion-label position="stacked">Customer Address</ion-label>
      <ion-input requred type="text" placeholder="Insert Street address" [(ngModel)]="updateCustomerInfo.ADDRESS1"></ion-input>
      <ion-input requred type="text" placeholder="Insert Village/Township Name" [(ngModel)]="updateCustomerInfo.ADDRESS2"></ion-input>
      <ion-row>
        <ion-input requred style="max-width: 40%;" type="text" placeholder="Insert Postal code" [(ngModel)]="updateCustomerInfo.POSTCODE"></ion-input>
        <ion-input requred type="text" placeholder="Insert City Name" [(ngModel)]="updateCustomerInfo.CITY"></ion-input>
      </ion-row>
      <ion-input requred type="text" placeholder="Insert State Name" [(ngModel)]="updateCustomerInfo.STATE"></ion-input>
      <ion-input requred type="text" placeholder="Insert Country/Region Name" [(ngModel)]="updateCustomerInfo.COUNTRY"></ion-input>
    </ion-item>
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Sales Person</ion-label>
        <ion-select placeholder="Select Sales Person" [(ngModel)]="updateCustomerInfo.SALESPERSON">
          <ion-select-option *ngFor="let salesman of salesmanList" 
            [value]=salesman.FULLNAME name=salesman.FULLNAME>
              {{salesman.FULLNAME}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-item-group>

  <!-- Save / Cancel button -->
  <ion-buttons class="buttonzStyle">
    <ion-button class="saveButton" (click)="saveChanges()">Save</ion-button>
    <ion-button class="cancelButton" (click)="dissmissPopup()">Cancel</ion-button>
  </ion-buttons>
</ion-content>
