:host {
    .alertSuccess {
        color: var(--eleave-color-success);
        background: var(--ion-color-light-tint);
        padding: 15px;
        border-radius: 2px;
      }
      .alertFail{
          color: var(--eleave-color-disable);
          background: var(--ion-color-light-tint);
          padding: 15px;
          border-radius: 2px;
      }
}