<ion-content>
    <ion-item-group class="mainLayout">
      <img class="sideimg" src="../../../assets/icon//signin/sign-in-abstract.svg"/>
      <ion-item-group class="bodyStyle">
  
        <!-- Logo and forget password note -->
        <ion-avatar class="loginLogo">
            <img src="../../../assets/icon/logo.PNG"/>
        </ion-avatar>
        <ion-note class="noteStyle">Please your email and we will notify superadmin to reset your password</ion-note>      
    
        <form class="formStyle">
          <ion-item>
              <ion-input type="email" name="email" required placeholder="Email" [(ngModel)]="userEmail"></ion-input>
          </ion-item>
          <!-- <ion-text color="danger"> -->
            <!-- <p [hidden]="email.valid || submitted == false" class="ion-padding-start"> -->
              <!-- Email is required -->
            <!-- </p> -->
          <!-- </ion-text> -->
  
          <!-- Submit button -->
          <ion-item lines="none">
            <ion-button fill="clear" type="submit" (click)="requestForgotPassword()">Send Request</ion-button>
          </ion-item>
        </form>
      </ion-item-group>
    </ion-item-group>
</ion-content>
