<ion-content  [class]="(pgSetting.getSideMenuType() === 'fullMenu') ? 'hide-sm-down' : 'hide-sm-down'">
    <ion-item-group class="mainLayout">
      <img class="sideimg" src="../../../assets/icon/signin/sign-in-abstract.svg"/>
      <ion-item-group class="bodyStyle">
  
        <!-- Logo and forget password note -->
        <ion-avatar class="loginLogo">
            <img src="../../../assets/icon/logo.PNG"/>
        </ion-avatar>
        <ion-note class="noteStyle">Enter your email & we will notify superadmin to reset your password</ion-note>      
    
        <form class="formStyle">
          <ion-item>
              <ion-input type="email" name="email" required placeholder="Email" [(ngModel)]="userEmail"></ion-input>
          </ion-item>
          <!-- <ion-text color="danger"> -->
            <!-- <p [hidden]="email.valid || submitted == false" class="ion-padding-start"> -->
              <!-- Email is required -->
            <!-- </p> -->
          <!-- </ion-text> -->
  
          <!-- Submit button -->
          <ion-item lines="none">
            <ion-button fill="clear" type="submit" (click)="requestForgotPassword()">Send Request</ion-button>
          </ion-item>
        </form>
      </ion-item-group>
    </ion-item-group>
</ion-content>
<div [class]="(pgSetting.getSideMenuType() === 'fullMenu') ? 'hide-sm-up' : 'hide-sm-up'"
style="height: 100%; width: 100%;">
  <ion-item-group class="mainLayout">
      <img class="sideimg-sm" src="../../../assets/icon/signin/sign-in-abstract.svg"/>
      
      <ion-item-group class="bodyStyle-sm">
          <!-- Logo and forget password note -->
          <ion-avatar class="loginLogo">
              <img src="../../../assets/icon/logo.PNG"/>
          </ion-avatar>
        <ion-note class="noteStyle note-sm-format">Enter your email & we will notify superadmin to reset your password</ion-note>      
          
        <form class="formStyle">
          <ion-item color="transparent" style="color: var(--ion-color-light); margin: 0px 30px;">
              <ion-input type="email" name="email" required placeholder="Email" [(ngModel)]="userEmail"></ion-input>
          </ion-item>
          <!-- <ion-text color="danger"> -->
            <!-- <p [hidden]="email.valid || submitted == false" class="ion-padding-start"> -->
              <!-- Email is required -->
            <!-- </p> -->
          <!-- </ion-text> -->
  
          <!-- Submit button -->
          <ion-item lines="none" color="transparent" style="margin: 30px;">
            <ion-button fill="clear" type="submit" style="background-color: var(--ion-color-light);
            color: #43425d;" (click)="requestForgotPassword()">Send Request</ion-button>
          </ion-item>
        </form>
      </ion-item-group>
    

  </ion-item-group>
</div>
