/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.pop-over-style .popover-content {
    --min-width: 300px !important;
	bottom: 0 !important;
	top: 0 !important;
	right: 0 !important;
	left: unset !important;
	transform-origin: initial !important;
	max-height: fit-content !important;
	
	ion-backdrop {
	  opacity: 0.33 !important;
	}
}

.pop-over-dropdown-style .popover-content {
    // left: 1134px;
    display: flex;
    width: 125px;
}

.pop-over-user-style .popover-content {
    // top: 32.4132px;
    left: 1295px;
    // transform-origin: right top;
    margin: 10px;
    padding: 10px;
	width: 197px;
}

.pagination-style .ngx-pagination{
// .pagination-style::ng-deep .ngx-pagination{
	font-size: 11px;
	padding-left: 20px;
	
	ul {
		display: inline-flex;
	}
	li {
		background: white;
		border: solid 1px #e8e9ec;
		border-radius: 3px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 31px;
		height: 31px;

	}

	.small-screen {
		display: none;
	}

	.current {
		padding: 0.1875rem 0.625rem;
		background: #2199e8;
		color: #fefefe;
		cursor: default;
	}
	.disabled {
		padding: 0.1875rem 0.625rem;
		color: #cacaca;
		cursor: default;
	}
}

.customer-searchbar-style {
	--background: white;
	margin-top: 2.5px;
	
	.searchbar-input {
		font-size: 11px !important;
		padding: 0px 10px 0px 30px;
		text-align: start;
	}
	.searchbar-search-icon {
		left: 7px;
		top: 5px;
	}
}


  

$screen-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

@each $keySize, $valueSize in $screen-breakpoints {
    .hide-#{$keySize}-down {
        @media (max-width: $valueSize) {
            display: none;
        }
	}
	
    .hide-#{$keySize}-up {
        @media (min-width: $valueSize) {
            display: none;
        }
	}
	
    .show-flex-#{$keySize}-down {
        @media (max-width: $valueSize) {
            display: flex;
        }
	}
	
    .show-flex-#{$keySize}-up {
        @media (min-width: $valueSize) {
            display: flex;
        }
    }
}

// @each $keySize, $valueSize in $screen-breakpoints {
//     [visible-block-#{$keySize}] {
//         @media (min-width: $valueSize) {
//             display: block;
//         }
//     }
// }


// @each $keySize, $valueSize in $screen-breakpoints {
//     [visible-inline-block-#{$keySize}] {
//         @media (min-width: $valueSize) {
//             display: inline-block;
//         }
//     }
// }

// @each $keySize, $valueSize in $screen-breakpoints {
//     [visible-flex-#{$keySize}] {
//         @media (min-width: $valueSize) {
//             display: flex;
//         }
//     }
// }
