:host {
    .dashboardTitleStyle {
        padding-left: 22.5px;
        padding-top: 16px;
        font-size: 17px;
        color: #43425d;
    }

    .overviewSegment {
        font-size: 10px; 
        text-transform: capitalize;
        width:10px;
    }

    .cardStyle {
        background-color: #ffffff;
        display: inline-block;
        flex: 1;
        min-width: fit-content;
        padding-bottom: 15px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
    }

    .cardColumn {
        float: left;
        width: 50%;
    }
      
    /* Clear floats after the columns */
    .cardRow:after {
        content: "";
        display: table;
        clear: both;
    }

    .cardTitleStyle {
        font-size: 10px;
        color: #43425d;
    }

    .cardValueStyle {
        font-size: 16px;
        font-weight: bold;
        color: #4d4f5c;
    } 

    .cardValueDiffStyleIncr {
        font-size: 8px;
        color: green;
    }

    .cardValueDiffStyleDecr {
        font-size: 8px;
        color: red;
    }

    .cardIconStyle {
        width: 45px;
        height: 35px;
        float: right;
        padding-top:5px;
    }

    .tableMainLayout {
        padding-left: 15px;
        padding-right: 15px;
        
    }    

    .tableMainLayoutStyle {
        background-color: #ffffff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
        min-width: fit-content;
    }

    .tableTitle {
        padding-top: 16px;
        padding-left: 7px;
        font-size: 11px;
        color: #4d4f5c;
        float:left;
    }

    .tableShowMore {
        font-size: 10px;
        float:right;
        color: #3b86ff;
        --ion-background-color: white;
    }

    .tableHeaderTheme {
        font-size: 11px;
        font-weight: bold;    
        text-align: center;  
        color: #a3a6b4;
        background-color: #f5f6fa;
        height: 30px; 
        align-content: center;
    }

    .tableBodyTheme {
        font-size: 11px;
        text-align: center;
        align-content: center;
        color: #4d4f5c;
        height: 50px;
    }

    .tableHorizontalDivider {
        border-bottom: 1px solid #f5f6fa;
    }

    .columnStatusGreen {
        color: #5ee2a0; 
        margin: unset;
    }

    .columnStatusBlue {
        color: #3b86ff;
        margin: unset;
    }

    .columnStatusRed {
        color: red;
        margin: unset;
    }

    .subsCardStyle {
        display: none;
        align-items: center;
        justify-content: space-between;

        ion-card-header {
            text-align-last: justify;
        }

        ion-card-title {
            font-size: var(--eleave-body-size);
            font-weight: bold;
        }
        ion-card-subtitle {
            font-size: var(--eleave-body-size);
        }

        ion-card-content {
            font-size: var(--eleave-body-size);
            padding: 16px;
        }
    }

    .subsCardStyles {
        display: flex;
        flex-wrap: wrap;
        width: -webkit-fill-available; 

        ion-card {
            display: flex;
            flex: auto;
        }

        ion-card-subtitle {
            display: flex;
            place-content: space-between; 
            padding: 5px 0 10px;
            border-bottom: 1px solid var(--eleave-border-color);
        }
    }
    
    .cardStyles * {
        font-size: var(--eleave-body-size);
        min-width: fit-content;
    }
}

@media (max-width: 700px) {
    .hidden-sm-down {
        display: none !important;
    }

    .hidden-md-up {
        display: flex !important;
    }
  }

  

@media (min-width: 701px) {
    .hidden-sm-down {
        display: flex !important;
    }

    .hidden-md-up {
        display: none !important;
    }
  }

