<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-title>dashboard</ion-title>

</ion-content> -->

<ion-app style="padding-top: 55px; --ion-background-color: #f0f0f7;">
  <ion-content>
    <ion-row>
      <ion-col>
        <ion-title class="dashboardTitleStyle">
          Overview
        </ion-title>
      </ion-col>
      <ion-col>
        <!-------------------------- Segment Section -------------------------->
        <!-------- Dashboard record's period (All/week/month/quarter) --------->
        <ion-segment value="all" [(ngModel)]="overviewSgmtOpt" (ionChange)="segmentChanged($event)">
        <!-- <ion-segment (ionchange)=segmentChanged($event) value="all"> -->
          <ion-segment-button class="overviewSegment" value="all">
            <ion-label>All</ion-label>
          </ion-segment-button>
          <ion-segment-button class="overviewSegment" value="week">
            <ion-label>Week</ion-label>
          </ion-segment-button>
          <ion-segment-button class="overviewSegment" value="month">
            <ion-label>Month</ion-label>
          </ion-segment-button>
          <ion-segment-button class="overviewSegment" value="quarter">
            <ion-label>Quarter</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>

    <!--------------------------- Card Section --------------------------------->
    <ion-row style="display: flex; flex-wrap: wrap;">      
      <!-- All Customers -->
      <ion-card class="cardStyle">
        <ion-card-header>
          <ion-card-title class="cardTitleStyle">All Customers</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <div class="cardColumn">
              <div class="cardRow">
                <ion-label class="cardValueStyle">
                  7721K
                </ion-label>
              </div>
              <div class="cardRow cardValueDiffStyleIncr"
              [ngStyle]="{'visibility': (this.overviewSgmtOpt === 'all') ? 'hidden' : 'visible'}">
                <!-- ngif diff, arrow down (red). else arrow up (green) -->
                <ion-icon name="arrow-up"></ion-icon>
                <ion-label>
                    11.2%
                </ion-label>
              </div>
            </div>
            <div class="cardColumn">
              <ion-icon class="cardIconStyle" src="../../../assets/icon/dashboard/icon-trolley.svg"></ion-icon>
            </div>
          </ion-card-content>
      </ion-card>
        
      <!-- Active Customers -->
      <ion-card class="cardStyle">
        <ion-card-header>
          <ion-card-title class="cardTitleStyle">Active Customers</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <div class="cardColumn">
              <div class="cardRow">
                <ion-label class="cardValueStyle">
                    7000K
                </ion-label>
              </div>
              <div class="cardRow cardValueDiffStyleIncr"
              [ngStyle]="{'visibility': (this.overviewSgmtOpt === 'all') ? 'hidden' : 'visible'}">
                <!-- ngif diff, arrow down (red). else arrow up (green) -->
                <ion-icon name="arrow-up"></ion-icon>
                <ion-label>
                    8.8%
                </ion-label>
              </div>
            </div>
            <div class="cardColumn">
              <ion-icon class="cardIconStyle" src="../../../assets/icon/dashboard/icon-active-customer.svg"></ion-icon>
            </div>
          </ion-card-content>
      </ion-card>
        
      <!-- Inactive Customers -->
      <ion-card class="cardStyle">
        <ion-card-header>
          <ion-card-title class="cardTitleStyle">Inactive Customers</ion-card-title>
        </ion-card-header>
          <ion-card-content>
            <div class="cardColumn">
              <div class="cardRow">
                <ion-label class="cardValueStyle">
                    13K
                </ion-label>
              </div>
              <div class="cardRow cardValueDiffStyleDecr"
              [ngStyle]="{'visibility': (this.overviewSgmtOpt === 'all') ? 'hidden' : 'visible'}">
                <!-- ngif diff, arrow down (red). else arrow up (green) -->
                <ion-icon name="arrow-down"></ion-icon>
                <ion-label>
                    13.6%
                </ion-label>
              </div>
            </div>
            <div class="cardColumn">
              <ion-icon class="cardIconStyle" src="../../../assets/icon/dashboard/icon-sales-analysis-report.svg"></ion-icon>
            </div>
          </ion-card-content>
      </ion-card>

      <!-- Company Number -->
      <ion-card class="cardStyle">
        <ion-card-header>
          <ion-card-title class="cardTitleStyle">Company Numbers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="cardColumn">
            <div class="cardRow">
              <ion-label class="cardValueStyle">
                  2453K
              </ion-label>
            </div>
            <div class="cardRow cardValueDiffStyleIncr"
            [ngStyle]="{'visibility': (this.overviewSgmtOpt === 'all') ? 'hidden' : 'visible'}">
              <!-- ngif diff, arrow down (red). else arrow up (green) -->
              <ion-icon name="arrow-up"></ion-icon>
              <ion-label>
                  13.8%
              </ion-label>
            </div>
          </div>
          <div class="cardColumn">
            <ion-icon class="cardIconStyle" src="../../../assets/icon/customer/icon-office-building.svg"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>

      <!-- Employee Numbers -->
      <ion-card class="cardStyle">
        <ion-card-header>
          <ion-card-title class="cardTitleStyle">Employee Numbers</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="cardColumn">
            <div class="cardRow">
              <ion-label class="cardValueStyle">
                  43180K
              </ion-label>
            </div>
            <div class="cardRow cardValueDiffStyleDecr"
            [ngStyle]="{'visibility': (this.overviewSgmtOpt === 'all') ? 'hidden' : 'visible'}">
              <ion-icon name="arrow-down"></ion-icon>
              <ion-label>
                  9.8%
              </ion-label>
            </div>
          </div>
          <div class="cardColumn">
            <ion-icon class="cardIconStyle" src="../../../assets/icon/customer/icon-total-user.svg"></ion-icon>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>
    
    <div style="height: 15px;"></div>
    <!--------------------------- Table Section --------------------------------->
    <ion-row class="tableMainLayout">
      <ion-col class="tableMainLayoutStyle">
        <ion-row>
          <ion-col class="tableTitle">
            Recent Subscribers
          </ion-col>
          <ion-col >
            <ion-item class="tableShowMore" lines="none" [routerDirection]="'root'" [routerLink]="'/main/subscriptions'">
                <!-- <ion-label class="tableShowMore"> -->
                    Show More
                <!-- </ion-label> -->
            </ion-item>
          </ion-col>
        </ion-row>
        <div style="height: 5px;"></div>
        <ion-row [class]="(pgSett.getSideMenuType() === 'fullMenu') ? 'hide-md-down' : 'hide-sm-down'">
         
          <ion-grid>
            <!-- Table Header -->
            <ion-row class="tableHeaderTheme">
              <!-- <ion-col size="4"> -->
                <ion-label style="width:34%;">
                  CLIENT NAME
                </ion-label>
              <!-- </ion-col> -->
              <!-- <ion-col> -->
                <ion-label style="width:10%;">
                  ACTIVATED ON
                </ion-label>
              <!-- </ion-col> -->
              <!-- <ion-col> -->
                <ion-label style="width:12%;">
                  CREATED ON
                </ion-label>
              <!-- </ion-col> -->
              <!-- <ion-col> -->
                <ion-label style="width:11%;">
                  PLAN NAME
                </ion-label>
              <!-- </ion-col> -->
              <!-- <ion-col> -->
                <ion-label style="width:10%;">
                  STATUS
                </ion-label>
              <!-- </ion-col> -->
              <!-- <ion-col> -->
                <ion-label style="width:12%;">
                  LAST BILLED ON
                </ion-label>
              <!-- </ion-col>
              <ion-col> -->
                <ion-label style="width:11%;">
                  NEXT BILLED ON
                </ion-label>
              <!-- </ion-col> -->
            </ion-row>

            <!-- Table body. NOTE: At this moment use dummy data only -->
            <ion-row class="tableBodyTheme tableHorizontalDivider"  *ngFor="let table of subscribers; let i=index">
              <ion-col size="4" style="text-align: left; width:40%;">
                <div>
                  {{table.companyName}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.activationDate}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.creationDate}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.plan}}
                </div>
              </ion-col>
              <ion-col>
                <span [ngSwitch]="table.status">
                  <p *ngSwitchCase="'LIVE'" class="columnStatusGreen">
                      {{table.status}}
                  </p>
                  <p *ngSwitchCase="'TRIAL'" class="columnStatusBlue">
                      {{table.status}}                  
                  </p>
                  <p *ngSwitchCase="'PAST DUE'" class="columnStatusRed">
                      {{table.status}}                  
                  </p>
                  <p *ngSwitchCase="'CANCEL SUBSCRIPTION'" class="columnStatusRed">
                      {{table.status}}                  
                  </p>
                </span>
              </ion-col>
              <ion-col>
                <div>
                  {{table.lastBillingOn}}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{table.nextBillingOn}}
                </div>
              </ion-col>
            </ion-row> 
          </ion-grid>
        
        </ion-row>

        <ion-row [class]="(pgSett.getSideMenuType() === 'fullMenu') ? 'hide-md-up' : 'hide-sm-up'">
          <ion-item-group class="subsCardStyles">
            <ion-card *ngFor="let table of subscribers; let i=index">
              <ion-card-content class="cardStyle cardStyles">
                <ion-card-title>
                    {{table.companyName}}
                  <ion-card-subtitle>
                    <span>
                      {{table.plan}}
                    </span>
                    <span [ngSwitch]="table.status">
                      <p *ngSwitchCase="'LIVE'" class="columnStatusGreen">
                          {{table.status}}
                      </p>
                      <p *ngSwitchCase="'TRIAL'" class="columnStatusBlue">
                          {{table.status}}                  
                      </p>
                      <p *ngSwitchCase="'PAST DUE'" class="columnStatusRed">
                          {{table.status}}                  
                      </p>
                      <p *ngSwitchCase="'CANCEL SUBSCRIPTION'" class="columnStatusRed">
                          {{table.status}}                  
                      </p>
                    </span>
                  </ion-card-subtitle>
                </ion-card-title>
                <ion-item-group style="padding-top: 10px;">
                  <ion-label> Creation Date: {{table.creationDate}} </ion-label>
                  <ion-label> Activatation Date: {{table.activationDate}} </ion-label>
                  <ion-label> Last Billing Date: {{table.lastBillingOn}} </ion-label>
                  <ion-label> Next Billing Date: {{table.nextBillingOn}} </ion-label>
                </ion-item-group>
              </ion-card-content>
            </ion-card>
          </ion-item-group>
        </ion-row>
      </ion-col>
    </ion-row>
    <div style="height: 59px;"></div>

  </ion-content>
</ion-app>