<ion-content>
  <ion-header>
    <ion-item-group  class="headerStyle">
      <ion-icon src="../../../../../assets/icon/customer/icon_customer.svg"></ion-icon>
      <ion-label>
        NO OF USERS
      </ion-label>
    </ion-item-group>
  </ion-header>
  
  <!-- Title -->
  <ion-title class="titleStyle">
    USER QOUTA : {{selectedSubscriberInfo.employeeQuota}}
    <!-- TOTAL USERS : {{updateEmployeeQuota.employeeQuota}} -->
  </ion-title>

  <!-- Update No of total users -->
  <ion-item-group class="contentStyle">
    <ion-item>
      <ion-label position="stacked">User Quota</ion-label>
      <ion-input type="number" placeholder="Insert qouta for users" [(ngModel)]="updateClientData.employeeQuota"></ion-input>    
      <!-- <ion-input type="text" placeholder="Insert Username" [(ngModel)]="updateCustomerInfo.clientName"></ion-input>     -->
    </ion-item>
  </ion-item-group>

  <!-- Save / Cancel button -->
  <ion-buttons class="buttonzStyle">
    <ion-button class="saveButton" (click)="saveChanges()">Save</ion-button>
    <ion-button class="cancelButton" (click)="dissmissPopup()">Cancel</ion-button>
  </ion-buttons>
</ion-content>