<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addnewcustomer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->

<ion-app style="padding-top: 73px; --ion-background-color: #f0f0f7;">
  <ion-content>
    <ion-row>
      <ion-col>
        <ion-title class="addCustomerTitleStyle">
          Customers
        </ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="addCustomerBackgroundSize">
      <ion-col class="addCustomerBackgroundStyle">
        
        <ion-row>
          <ion-col style="padding: 0px;">
            <ion-row style="padding-left: 14px; padding-top:17px; padding-right: 14px;">
              <ion-col style="padding: 0px;">
                  <!------------------------ Contact Details ------------------------->
                  <ion-row class="addCustomerSubTitleLayoutStyle">
                    <ion-title class="addCustomerSubTitleStyle">
                      CONTACT DETAILS
                    </ion-title>
                  </ion-row>

                  <ion-item-group class="addCustomerDetailsBody">
                    <ion-row>
                      <ion-label>Primary Contact</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input type="text"  [(ngModel)]="newFullName" placeholder="Full Name"></ion-input>
                    </ion-row>

                    <ion-row>
                      <ion-label>Company Name</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                    <!-- need to handle cannot blank -->
                    <ion-row>
                      <ion-label style="color: #ff6768;">Customer Email*</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                    <!-- need to handle cannot blank -->
                    <ion-row>
                      <ion-label style="color: #ff6768;">Phone Number*</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                    <ion-row>
                      <ion-label>Display Name</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                  </ion-item-group>
                </ion-col>

                <ion-col style="padding: 0px;">
                  <!----------------------- Subscription Plan ------------------------>
                  <ion-row class="addCustomerSubTitleLayoutStyle">
                    <ion-title class="addCustomerSubTitleStyle">
                      SUBSCRIPTION PLAN
                    </ion-title>
                  </ion-row>

                  <ion-item-group class="addCustomerDetailsBody">
                    <ion-row class="addCustomerSubscriptionPlan">
                      Type: Standard
                    </ion-row>

                    <ion-row style="padding-top: 12px;">
                      <ion-label style="color: #ff6768;">Subscription#</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                    <ion-row>
                      <ion-label>Subscription Duration</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-col>
                        <!-- <ion-input placeholder="Start On"></ion-input> -->
                        <ion-datetime class="addCustomerCalenderBoxStyle" 
                          displayFormat="D MMMM YYYY" max="2100" placeholder="Start On"></ion-datetime>
                      </ion-col>
                      <ion-col>
                        <!-- <ion-input placeholder="End On"></ion-input> -->
                        <ion-datetime class="addCustomerCalenderBoxStyle" 
                          displayFormat="D MMMM YYYY" max="2100"  placeholder="End On"></ion-datetime>
                      </ion-col>
                    </ion-row>

                    <ion-row>
                      <ion-label>No. of User</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-input></ion-input>
                    </ion-row>

                  </ion-item-group>
              </ion-col>
            </ion-row>
            <ion-row  style="padding-left: 14px; padding-top:17px; padding-right: 14px;">
                      <!----------------------- Billing Address -------------------------->
              <ion-col style="padding: 0px;">
                <ion-row class="addCustomerSubTitleLayoutStyle">
                  <ion-title class="addCustomerSubTitleStyle">
                    BILLING ADDRESS
                  </ion-title>
                </ion-row>

                <ion-item-group class="addCustomerDetailsBody">
                  <ion-row>
                      <ion-label>Customer Address</ion-label>
                  </ion-row>
                  <ion-row class="addCustomerInputBackgroundStyle" style="padding-bottom: 0px;">
                    <ion-col>
                      <ion-input placeholder="Line 1"></ion-input>
                    </ion-col>
                    <ion-col>
                      <ion-input placeholder="Line 2"></ion-input>
                    </ion-col>
                    <!-- <ion-input></ion-input> -->
                  </ion-row>
                  <ion-row class="addCustomerInputBackgroundStyle">
                    <ion-col>
                      <ion-input placeholder="State"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-input placeholder="ZIP"></ion-input>                    
                    </ion-col>
                    <ion-col>
                        <ion-input placeholder="Country"></ion-input>                    
                    </ion-col>
                  </ion-row>
                </ion-item-group>
              </ion-col>
            </ion-row>
          </ion-col>
          <!-- <ion-col style="background-color: #fcfcfc;"> -->
          <ion-col size="4" style="background-color: #fcfcfc;">
            <!------------------- New customer Info Preview -------------------->

            <!-- Contact Details -->
            <ion-item-group class="addCustomerDetailsBody">
              <ion-row class="addCustomerPreviewTitle">
                  CONTACT DETAILS
              </ion-row>
            </ion-item-group>

            <ion-row style="padding-top:12px;">
              <ion-col size="2" justify-content-center align-items-center style="display: flex; align-items: center;">
                <ion-avatar class="addCustomerPreviewProfile">
                <!-- <ion-avatar style=" width: 32px; height: 32px; float: right;"> -->
                  <img src="../../../../assets/icon/layout/picture.png">
                </ion-avatar>
              </ion-col>
              <ion-col class="addCustomerPreviewBody">
                <ion-row style="padding-bottom: 5px;">
                  <ion-text>
                    Hanna Montana
                  </ion-text>
                </ion-row>
                <ion-row style="padding-bottom: 5px;">
                  hanna@zen.com.my
                </ion-row>
                <ion-row style="padding-bottom: 5px;">
                  013-5433232
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- Address -->
            <ion-item-group class="addCustomerDetailsBody">
              <ion-row class="addCustomerPreviewTitle">
                  ADDRESS
              </ion-row>
            </ion-item-group>

            <ion-row class="addCustomerPreviewBody">
              <ion-col style="padding-left:20px;">
                <ion-row style="font-weight: bold; padding-top:10px;">
                  Billing Address
                </ion-row>
                <ion-row style="padding-top:10px;">
                  C-15-08, KL Gateway Residence 2
                </ion-row>
                <ion-row style="padding-top:10px;">
                  Jalan Kerinchi, Pantai Dalam, Kuala Lumpur
                </ion-row>
                <ion-row style="padding-top:10px;">
                  59200, Wilayah Persekutuan, Malaysia
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- Subscription Plan Details -->
            <ion-item-group class="addCustomerDetailsBody">
              <ion-row class="addCustomerPreviewTitle">
                SUBSCRIPTION PLAN DETAILS
              </ion-row>
            </ion-item-group>

            <ion-row class="addCustomerPreviewBody">
              <ion-col style="padding-left:20px;">
                <ion-row style="padding-top:10px;">
                  <ion-text>Type: </ion-text>
                  <ion-text style="font-weight: bold;"> Standard</ion-text>
                </ion-row>
                <ion-row style="padding-top:10px;">
                  <ion-text>Subscription#:</ion-text>
                  <ion-text style="font-weight: bold;"> SUB-0003</ion-text>
                </ion-row>
                <ion-row style="padding-top:10px;">
                  <ion-col style="padding-left:0px;">
                    <ion-text>Start at: </ion-text>
                    <ion-text style="font-weight: bold;"> 2 August 2019</ion-text>
                  </ion-col>
                  <ion-col>
                    <ion-text>End at: </ion-text>
                    <ion-text style="font-weight: bold;"> 2 September 2019</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row style="padding-top:10px;">
                  <ion-text>No of User:</ion-text>
                  <ion-text style="font-weight: bold;"> 21</ion-text>
                </ion-row>
              </ion-col>
            </ion-row>

            <!-- Save/Cancel -->
            <ion-row style="justify-content:center; padding-top:65px;">
            <!-- <ion-row style="justify-content:center; align-items: flex-end;"> -->
              <ion-button class="addCustomerSaveButton" fill="clear">
                Save
              </ion-button>
              <ion-button class="addCustomerCancelButton" fill="clear">
                Cancel
              </ion-button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>