
<ion-app style="padding-top: 55px; --ion-background-color: #f0f0f7;">
  <ion-content>
    <ion-row>
      <ion-col>
        <ion-title class="addCustomerTitleStyle">
          Customers
        </ion-title>
      </ion-col>
    </ion-row>
      <ion-row class="addCustomerBackgroundSize">
        <ion-col class="addCustomerBackgroundStyle">
          <ion-row>
            <ion-col style="padding: 0px;">
              <ion-row style="padding-left: 14px; padding-top:17px; padding-right: 14px;">
                <ion-col style="padding: 0px;">
                    <!-- ---------------------- Contact Details ----------------------- -->
                    <ion-row class="addCustomerSubTitleLayoutStyle">
                      <ion-title class="addCustomerSubTitleStyle">
                        CONTACT DETAILS
                      </ion-title>
                    </ion-row>

                    <ion-item-group class="addCustomerDetailsBody">
                      <ion-row>
                        <ion-label>Primary Contact</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="text" required placeholder="Full Name" [(ngModel)]="newCustForm.fullname" name="fullname"></ion-input>
                      </ion-row>

                      <ion-row>
                        <ion-label>Company Name</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="text" required placeholder="Company name" [(ngModel)]="newCustForm.companyName" name="companyName"></ion-input>
                      </ion-row>

                      <!-- need to handle cannot blank -->
                      <ion-row>
                        <ion-label style="color: #ff6768;">Customer Email*</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="email" required placeholder="Email address (Eg: abc@example.com)" [(ngModel)]="newCustForm.email" name="email"></ion-input>
                      </ion-row>

                      <!-- need to handle cannot blank -->
                      <ion-row>
                        <ion-label style="color: #ff6768;">Phone Number*</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="tel" required placeholder="Contact no (Eg: +6012-3455678)" [(ngModel)]="newCustForm.contactNo" name="contactNo"></ion-input>
                      </ion-row>

                      <ion-row>
                        <ion-label>Display Name</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="text" required placeholder="Display name/Username" [(ngModel)]="newCustForm.nickname" name="nickname"></ion-input>
                      </ion-row>

                    </ion-item-group>
                  </ion-col>

                  <ion-col style="padding: 0px;">
                    <!-- --------------------- Subscription Plan ---------------------- -->
                    <ion-row class="addCustomerSubTitleLayoutStyle">
                      <ion-title class="addCustomerSubTitleStyle">
                        SUBSCRIPTION PLAN
                      </ion-title>
                    </ion-row>

                    <ion-item-group class="addCustomerDetailsBody">
                      <ion-row class="addCustomerSubscriptionPlan">
                        Type: Standard
                      </ion-row>

                      <ion-row style="padding-top: 12px;">
                        <!-- <ion-item-group style="margin-right: auto;">
                          <ion-label style="color: #ff6768;">Subscription#</ion-label>
                          <ion-label class="addCustomerInputDatetimeBackgroundStyle">SUB-0000011</ion-label>
                        </ion-item-group> -->
                        <ion-item-group style="margin-right: auto;">
                          <ion-label>Subscription Start On</ion-label>
                          <ion-input class="addCustomerInputDatetimeBackgroundStyle" 
                          type="date" mode="md" placeholder="Insert start date" 
                          [(ngModel)]="custStartSubsDate" (change)="newStartSubs($event)"></ion-input>
                        </ion-item-group>
                      </ion-row>

                      <ion-row style="display: flow-root;">
                        <ion-label>Bill Every: </ion-label>
                        <ion-item-group class="addCustomerInputDatetimeBackgroundStyle" style="display: flex;">
                          <ion-input type="number" mode="md" style="margin-right: 5px;" 
                          placeholder="Insert cycle" [(ngModel)]="custCycleNo" name="custCycleNo" (ionChange)="setNextBillingDate()"></ion-input>

                          <ion-select [(ngModel)]="custCycleEvery" name="custCycleEvery" (ionChange)="setNextBillingDate()" 
                          style="border-radius: 3px !important;
                            border: solid 0.5px #a5a4bf;
                            align-items: center;
                            margin: auto 0px;
                            padding: 6px;">
                            <ion-select-option selected value="Week(s)">Week(s)</ion-select-option>
                            <ion-select-option value="Month(s)">Month(s)</ion-select-option>
                            <ion-select-option value="Year(s)">Year(s)</ion-select-option>
                          </ion-select>
                        </ion-item-group>
                      </ion-row>

                      <ion-row style="display: flow-root;">
                        <ion-label>Subscription Expiry On: </ion-label>
                        <ion-label class="addCustomerInputDatetimeBackgroundStyle">{{custEndSubsDate}}</ion-label>
                      </ion-row>
                      <ion-row>
                        <ion-label>Subscriptions quota</ion-label>
                      </ion-row>
                      <ion-row class="addCustomerInputBackgroundStyle">
                        <ion-input type="number" required placeholder="Quota number" mode="md" [(ngModel)]="newSubsForm.subscriptionQuota" name="subscriptionQuota"></ion-input>
                      </ion-row>

                      <ion-row style="display: block;">
                        <ion-label>
                          Sales Person:
                        </ion-label>
                        <!-- <ion-select [(ngModel)]="selSalesperson" (ionChange)="selectedSalesperson()" -->
                        <ion-select [(ngModel)]="newCustForm.salesperson" name="salesperson"
                          placeholder="Select a salesperson" style="border-radius: 3px !important;
                          border: solid 0.5px #a5a4bf;
                          align-items: center;
                          margin: 5px 0px;
                          padding: 6px;">
                          <ion-select-option *ngFor="let sp of salepersonList" [value]=sp.FULLNAME>{{sp.FULLNAME}}</ion-select-option>
                        </ion-select>
                      </ion-row>

                    </ion-item-group>
                </ion-col>
              </ion-row>
              <ion-row  style="padding-left: 14px; padding-top:17px; padding-right: 14px;">
                        <!-- --------------------- Billing Address ------------------------ -->
                <ion-col style="padding: 0px;">
                  <ion-row class="addCustomerSubTitleLayoutStyle">
                    <ion-title class="addCustomerSubTitleStyle">
                      BILLING ADDRESS
                    </ion-title>
                  </ion-row>

                  <ion-item-group class="addCustomerDetailsBody">
                    <ion-row>
                        <ion-label>Customer Address</ion-label>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle" style="padding-bottom: 0px;">
                      <ion-col>
                        <ion-input type="text" required placeholder="Streets 1" [(ngModel)]="newCustForm.address1" name="address1"></ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-input type="text" placeholder="Streets 2 (Optional)" [(ngModel)]="newCustForm.address2" name="address2"></ion-input>
                      </ion-col>
                      <!-- <ion-input></ion-input> -->
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle" style="padding-bottom: 0px;">
                      <ion-col>
                        <ion-input type="text" required placeholder="Postal code" [(ngModel)]="newCustForm.postcode" name="postcode"></ion-input>
                      </ion-col>
                      <ion-col>
                        <ion-input type="text" required placeholder="Village/Township" [(ngModel)]="newCustForm.city" name="city"></ion-input>
                      </ion-col>
                    </ion-row>
                    <ion-row class="addCustomerInputBackgroundStyle">
                      <ion-col>
                        <ion-input type="text" required placeholder="State" [(ngModel)]="newCustForm.state" name="state"></ion-input>
                      </ion-col>
                      <ion-col>
                          <ion-input type="text" required placeholder="Country" [(ngModel)]="newCustForm.country" name="country"></ion-input>                    
                      </ion-col>
                    </ion-row>
                  </ion-item-group>
                </ion-col>
              </ion-row>
            </ion-col>
            <!-- <ion-col [class]="(addCustPggSvs.getSideMenuType() === 'fullMenu') ? 'hide-lg-down' : 'hide-md-down'" -->
            <ion-col [class]="(addCustPggSvs.getSideMenuType() === 'fullMenu') ? 'hide-lg-down' : 'hide-md-down'" size="4" style="background-color: #fcfcfc;">
              <!-- ----------------- New customer Info Preview ------------------ -->
            
              <!-- Contact Details -->
              <ion-item-group class="addCustomerDetailsBody">
                <ion-row class="addCustomerPreviewTitle">
                  CONTACT DETAILS
                </ion-row>
              </ion-item-group>
              <ion-row style="padding-top:12px; padding-left: 23px;">
                <ion-col size="2" justify-content-center align-items-center style="display: flex; align-items: center;">
                  <ion-avatar class="addCustomerPreviewProfile">
                    <img src="../../../../assets/icon/layout/picture.png">
                  </ion-avatar>
                </ion-col>
                <ion-col class="addCustomerPreviewBody">
                  <ion-row style="padding-bottom: 5px;">
                    <ion-text>
                      {{newCustForm.fullname}}
                    </ion-text>
                  </ion-row>
                  <ion-row style="padding-bottom: 5px;">
                    <ion-text>
                      {{newCustForm.nickname}}
                    </ion-text>
                  </ion-row>
                  <ion-row style="padding-bottom: 5px;">
                    {{newCustForm.email}}
                  </ion-row>
                  <ion-row style="padding-bottom: 5px;">
                    {{newCustForm.contactNo}}
                  </ion-row>
                </ion-col>
              </ion-row>
            
              <!-- Address -->
              <ion-item-group class="addCustomerDetailsBody">
                <ion-row class="addCustomerPreviewTitle">
                  ADDRESS
                </ion-row>
              </ion-item-group>
            
              <ion-row class="addCustomerPreviewBody">
                <ion-col style="padding-left:20px;">
                  <ion-row style="font-weight: bold; padding-top:10px;">
                    Billing Address
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    {{newCustForm.address1}}
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    {{newCustForm.address2}}
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    {{newCustForm.postcode}}, {{newCustForm.city}}
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    {{newCustForm.state}}
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    {{newCustForm.country}}
                  </ion-row>
                </ion-col>
              </ion-row>
            
              <!-- Subscription Plan Details -->
              <ion-item-group class="addCustomerDetailsBody">
                <ion-row class="addCustomerPreviewTitle">
                  SUBSCRIPTION PLAN DETAILS
                </ion-row>
              </ion-item-group>
            
              <ion-row class="addCustomerPreviewBody">
                <ion-col style="padding-left:20px;">
                  <ion-row style="padding-top:10px;">
                    <ion-text>Type: </ion-text>
                    <ion-text style="font-weight: bold;"> Standard</ion-text>
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    <ion-col style="padding-left:0px;">
                      <ion-text>Start at: </ion-text>
                      <ion-text style="font-weight: bold;">{{custStartSubsDate}}</ion-text>
                    </ion-col>
                    <ion-col>
                      <ion-text>End at: </ion-text>
                      <ion-text style="font-weight: bold;">{{custEndSubsDate}}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    <ion-text>Subscription quota:</ion-text>
                    <ion-text style="font-weight: bold;">{{newSubsForm.subscriptionQuota}}</ion-text>
                  </ion-row>
                  <ion-row style="padding-top:10px;">
                    <ion-text>Salesperson:</ion-text>
                    <ion-text style="font-weight: bold;">{{newCustForm.salesperson}}</ion-text>
                  </ion-row>
                </ion-col>
              </ion-row>
            
              <!-- Save/Cancel -->
              <ion-row style="justify-content:center; padding-top:65px;">
                <ion-button class="addCustomerSaveButton" fill="clear" (click)="saveAddCustomer()">
                  Save
                </ion-button>
                <ion-button class="addCustomerCancelButton" fill="clear" (click)="cancelSaveAddingCustomer()">
                  Cancel
                </ion-button>
              </ion-row>
            </ion-col>
            <ion-col [class]="(addCustPggSvs.getSideMenuType() === 'fullMenu') ? 'hide-lg-up' : 'hide-md-up'" size="12" style="background-color: #fcfcfc;">
              <ion-row style="justify-content:center; padding: 20px 0px;">
                <ion-button class="addCustomerSaveButton" fill="clear" (click)="saveAddCustomer()">
                  Save
                </ion-button>
                <ion-button class="addCustomerCancelButton" fill="clear" (click)="cancelSaveAddingCustomer()">
                  Cancel
                </ion-button>
              </ion-row>
            </ion-col>
            <!-- <ion-col [class]="(addCustPggSvs.getSideMenuType() === 'fullMenu') ? 'hide-lg-up' : 'hide-md-up'"
            style="display: flex; justify-content: space-evenly; background-color: #fcfcfc;" size="12">
              <ion-item-group>
                <ion-item-group class="addCustomerDetailsBody">
                <ion-row class="addCustomerPreviewTitle">
                    CONTACT DETAILS
                </ion-row>
                </ion-item-group>
                <ion-row style="padding-top:12px; padding-left: 23px;">
                  <ion-col size="2" justify-content-center align-items-center style="display: flex; align-items: center;">
                    <ion-avatar class="addCustomerPreviewProfile">
                      <img src="../../../../assets/icon/layout/picture.png">
                    </ion-avatar>
                  </ion-col>
                  <ion-col class="addCustomerPreviewBody">
                    <ion-row style="padding-bottom: 5px;">
                      <ion-text>
                        {{newCustForm.fullname}}
                      </ion-text>
                    </ion-row>
                    <ion-row style="padding-bottom: 5px;">
                      <ion-text>
                        {{newCustForm.nickname}}
                      </ion-text>
                    </ion-row>
                    <ion-row style="padding-bottom: 5px;">
                      {{newCustForm.email}}
                    </ion-row>
                    <ion-row style="padding-bottom: 5px;">
                      {{newCustForm.contactNo}}
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-item-group>
              <ion-item-group>
                <ion-item-group class="addCustomerDetailsBody">
                  <ion-row class="addCustomerPreviewTitle">
                    ADDRESS
                  </ion-row>
                </ion-item-group>
                
                <ion-row class="addCustomerPreviewBody">
                  <ion-col style="padding-left:20px;">
                    <ion-row style="font-weight: bold; padding-top:10px;">
                      Billing Address
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      {{newCustForm.address1}}
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      {{newCustForm.address2}}
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      {{newCustForm.postcode}}, {{newCustForm.city}}
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      {{newCustForm.state}}
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      {{newCustForm.country}}
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-item-group>
              <ion-item-group>
                <ion-item-group class="addCustomerDetailsBody">
                  <ion-row class="addCustomerPreviewTitle">
                    SUBSCRIPTION PLAN DETAILS
                  </ion-row>
                </ion-item-group>
                
                <ion-row class="addCustomerPreviewBody">
                  <ion-col style="padding-left:20px;">
                    <ion-row style="padding-top:10px;">
                      <ion-text>Type: </ion-text>
                      <ion-text style="font-weight: bold;"> Standard</ion-text>
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      <ion-col style="padding-left:0px;">
                        <ion-text>Start at: </ion-text>
                        <ion-text style="font-weight: bold; white-space: nowrap;">{{custStartSubsDate}}</ion-text>
                      </ion-col>
                      <ion-col>
                        <ion-text>End at: </ion-text>
                        <ion-text style="font-weight: bold; white-space: nowrap;">{{custEndSubsDate}}</ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      <ion-text>Subscription quota:</ion-text>
                      <ion-text style="font-weight: bold;">{{newSubsForm.subscriptionQuota}}</ion-text>
                    </ion-row>
                    <ion-row style="padding-top:10px;">
                      <ion-text>Salesperson:</ion-text>
                      <ion-text style="font-weight: bold;">{{newCustForm.salesperson}}</ion-text>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-item-group>
            </ion-col> -->
          </ion-row>
        </ion-col>
      </ion-row>
  </ion-content>
</ion-app>